# Ontodocker on the mesh

Here, we demonstrate how to use the `ontodocker` API from within jupyter notebooks. This mostly shows a working example and performs similar API calls as shown in the notebook `example/example.ipynb` from the [ontodocker github repository](https://github.com/materialdigital/ontodocker/blob/dev2/).

## Preparation
We need the `requests` module to perform requests via `http(s)`.
In the beginning, we demonstrate the API calls more explicitely, then we introduce a few abstactions, making things semantically more attractive and readable.

### Basic imports

In [1]:
%load_ext autoreload
# reload modules automatically before each cell
%autoreload 2

import requests
import os
os.environ["REQUESTS_CA_BUNDLE"] = "/etc/ssl/certs/ca-certificates.crt" # if not set by the OS; doesn't hurt

# fixes a bug in SPARQLwrapper
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Used for toggeling SSL verification debugging
VERIFY = True

# silence the related warnings
import warnings
from urllib3.exceptions import InsecureRequestWarning
warnings.filterwarnings("ignore", category=InsecureRequestWarning)

### Poplulating a mesh-participant registry

In [3]:
from pmd_demo_tools import mesh_tools

In [5]:
partners_full = mesh_tools.mesh_namespace_grouped_by_company()
_ = mesh_tools.attach_services_in_place(partners_full)
# partners_full.show()

#### Reducing registries
We also deduce a selection corresponding only to the services where we have valit JWTs for ontodocker services.

In [6]:
import json
with open('../secrets/tokens.json') as f:
    tokens = json.load(f, object_hook=mesh_tools.namespace_object_hook())

partners_full.Leibniz_Institut_fuer_Werkstofforientierte_Technologien_IWT.iwt.services.ontodocker.token = tokens.Leibniz_Institut_fuer_Werkstofforientierte_Technologien_IWT.ontodocker.token
partners_full.Fraunhofer_IWM.iwm.services.ontodocker.token = tokens.Fraunhofer_IWM.ontodocker.token
partners_full.KIT.kit_3.services.ontodocker_proxy.token = tokens.KIT.ontodocker_proxy.token
partners_full.MPISusMat.mpi_susmat.services.ontodocker.token = tokens.MPISusMat.ontodocker.token

selection = ["Leibniz_Institut_fuer_Werkstofforientierte_Technologien_IWT", "Fraunhofer_IWM", "KIT", "MPISusMat"]
partners = mesh_tools.select_toplevel(partners_full, selection, deepcopy=True)

In [7]:
partners_full.show()

BAM:
    bam_s1:
        company: 'BAM'
        contact: 'philipp.beckmann@bam.de'
        dns:
            - 'pmd-s1.bam.de'
        services:
            ontodocker_internal:
                address: 'ontodocker-internal.bam-s1.pmd.internal'
                name: 'ontodocker-internal'
                token: <SECRET>
        wg_mesh_dns_zone: 'bam-s1.pmd.internal'
        wg_mesh_subnet: 'fd51:0:3:1::/64'
Fraunhofer_AISEC:
    aisec:
        company: 'Fraunhofer AISEC'
        contact: 'pmd@aisec.fraunhofer.de'
        dns:
            - 'material-digital.aisec.fraunhofer.de'
        services:
        wg_mesh_dns_zone: 'aisec.pmd.internal'
        wg_mesh_subnet: 'fd51:0:2:1::/64'
Fraunhofer_ISC:
    isc_dev:
        company: 'Fraunhofer ISC'
        contact: 'simon.stier@isc.fraunhofer.de'
        dns:
            - 'pmd-s.open-semantic-lab.org'
        services:
        wg_mesh_dns_zone: 'isc-dev.pmd.internal'
        wg_mesh_subnet: 'fd51:0:7:1::/64'
Fraunhofer_IWM:
    iwm:
        company: 'Fraunhofer IWM'
        contact: 'rasmus.antons@iwm.fraunhofer.de'
        dns:
            - 'pmd.iwm.fraunhofer.de'
        services:
            ckan:
                address: 'ckan.iwm.pmd.internal'
                name: 'ckan'
                token: <SECRET>
            fuseki:
                address: 'fuseki.iwm.pmd.internal'
                name: 'fuseki'
                token: <SECRET>
            jupyterhub_jupyterhub_1:
                address: 'jupyterhub-jupyterhub-1.iwm.pmd.internal'
                name: 'jupyterhub-jupyterhub-1'
                token: <SECRET>
            ontodocker:
                address: 'ontodocker.iwm.pmd.internal'
                name: 'ontodocker'
                token: <SECRET>
        wg_mesh_dns_zone: 'iwm.pmd.internal'
        wg_mesh_subnet: 'fd51:0:9:1::/64'
Glassomer_GmbH:
    glassomer:
        company: 'Glassomer GmbH'
        contact: 'bastian.rapp@glassomer.com'
        dns:
            - 'pmd.glassomer.com'
        services: None
        wg_mesh_dns_zone: 'glassomer.pmd.internal'
        wg_mesh_subnet: 'fd51:0:11:1::/64'
KIT:
    kit_2:
        company: 'KIT'
        contact: 'pmd@kit.edu'
        dns:
            - 'kit-pmd-2.ydns.eu'
        services:
        wg_mesh_dns_zone: 'kit-2.pmd.internal'
        wg_mesh_subnet: 'fd51:0:1:2::/64'
    kit_3:
        company: 'KIT'
        contact: 'pmd@kit.edu'
        dns:
            - 'kit-pmd-3.ydns.eu'
        services:
            data:
                address: 'data.kit-3.pmd.internal'
                name: 'data'
                token: <SECRET>
            ontodocker_proxy:
                address: 'ontodocker-proxy.kit-3.pmd.internal'
                name: 'ontodocker-proxy'
                token: <SECRET>
        wg_mesh_dns_zone: 'kit-3.pmd.internal'
        wg_mesh_subnet: 'fd51:0:1:3::/64'
    kit_4:
        company: 'KIT'
        contact: 'pmd@kit.edu'
        dns:
            - 'kit-pmd-4.ydns.eu'
        services:
        wg_mesh_dns_zone: 'kit-4.pmd.internal'
        wg_mesh_subnet: 'fd51:0:1:4::/64'
Leibniz_Institut_fuer_Werkstofforientierte_Technologien_IWT:
    iwt:
        company: 'Leibniz-Institut für Werkstofforientierte Technologien - IWT'
        contact: 'sagehorn@iwt-bremen.de'
        dns:
            - 'pmd.iwt-bremen.de'
        services:
            ontodocker:
                address: 'ontodocker.iwt.pmd.internal'
                name: 'ontodocker'
                token: <SECRET>
        wg_mesh_dns_zone: 'iwt.pmd.internal'
        wg_mesh_subnet: 'fd51:0:10:1::/64'
MPISusMat:
    mpi_susmat:
        company: 'MPISusMat'
        contact: 'm.bruns@mpie.de'
        dns:
            - 'pmds-mpcdf-1.ydns.eu'
        services:
            data:
                address: 'data.mpi-susmat.pmd.internal'
                name: 'data'
                token: <SECRET>
            jupyterhub:
                address: 'jupyterhub.mpi-susmat.pmd.internal'
                name: 'jupyterhub'
                token: <SECRET>
            ontodocker:
                address: 'ontodocker.mpi-susmat.pmd.internal'
                name: 'ontodocker'
                token: <SECRET>
            pyiron:
                address: 'pyiron.mpi-susmat.pmd.internal'
                name: 'pyiron'
                token: <SECRET>
        wg_mesh_dns_zone: 'mpi-susmat.pmd.internal'
        wg_mesh_subnet: 'fd51:0:8:1::/64'
Platform_Material_Digital:
    c:
        company: 'Platform Material Digital'
        contact: 'info@material-digital.de'
        dns:
            - 'pmdc.material-digital.de'
        services:
        wg_mesh_dns_zone: 'c.pmd.internal'
        wg_mesh_subnet: 'fd51:0:0:1::/64'

## Fundamental API calls to Ontodocker

### A single instance

First, we store the address and token to some variables and define some parameters for `https` requests:

In [8]:
address = partners_full.MPISusMat.mpi_susmat.services.ontodocker.address
token = partners_full.MPISusMat.mpi_susmat.services.ontodocker.token

headers = {"Authorization": f"Bearer {token}"}
timeout=(5, 5)

####  Get a list of all SPARQL endpoints exposed by an ontodocker instance:

In [10]:
result = requests.get(f'https://{address}/api/v1/endpoints', headers=headers, timeout=timeout, verify=VERIFY).content.decode()

In [11]:
print(f'Available SPARQL-endpoints at "{address}":')
print(result)

Available SPARQL-endpoints at "ontodocker.mpi-susmat.pmd.internal":
["http://ontodocker.mpi-susmat.pmd.internal:None/api/jena/newset/sparql","http://ontodocker.mpi-susmat.pmd.internal:None/api/jena/not4all/sparql","http://ontodocker.mpi-susmat.pmd.internal:None/api/jena/test/sparql"]

`pmd_demo_tools` provides some helpful abstractions. E.g. `sparql_tools.list_sparql_endpoints()`. Atm, this method only works with the company -> server -> service structured registry. So for a single instance, we have to make a reduction first:

In [12]:
selection = ["MPISusMat"]
mpi_susmat_rns = mesh_tools.select_toplevel(partners_full, selection, deepcopy=True)

In [13]:
from pmd_demo_tools import sparql_tools

ep = sparql_tools.list_sparql_endpoints(mpi_susmat_rns)

MPISusMat
Available SPARQL-endpoints at "ontodocker.mpi-susmat.pmd.internal":
http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/newset/sparql
http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/not4all/sparql
http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/test/sparql

In [14]:
type(ep)

dict

In [15]:
ep

{'MPISusMat_mpi_susmat': ['http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/newset/sparql',
  'http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/not4all/sparql',
  'http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/test/sparql']}

#### Create a dataset

In [16]:
dataset_name = "test_dataset"
endpoint = f'https://{address}/api/v1/jena/{dataset_name}'
result = requests.put(endpoint, headers=headers, timeout=timeout, verify=VERIFY).content.decode()
print(f'Creating empty dataset at "{address}":')
print(result)

Creating empty dataset at "ontodocker.mpi-susmat.pmd.internal":
"Dataset name test_dataset created"

#### Upload a turtle-file to to dataset:

In [17]:
turtle_file_path = "../datasets/test_dataset.ttl"
result = requests.post(endpoint, headers=headers, files={'file': open(turtle_file_path, 'rb')}, timeout=timeout, verify=VERIFY).content.decode()
print(f'Upload "{turtle_file_path}" to dataset "{dataset_name}" at "{address}"')
print(result)

Upload "../datasets/test_dataset.ttl" to dataset "test_dataset" at "ontodocker.mpi-susmat.pmd.internal"
"Upload succeeded { \n  \"count\" : 13 ,\n  \"tripleCount\" : 13 ,\n  \"quadCount\" : 0\n}\n"

#### Query a single SPARQL endpoint

Explicitly:

In [18]:
from SPARQLWrapper import SPARQLWrapper
from pmd_demo_tools import sparql_tools
import json

result = requests.get(f'https://{address}/api/v1/endpoints', headers=headers, timeout=timeout, verify=VERIFY).content.decode()
endpoints_native = requests.get(f'https://{address}/api/v1/endpoints', headers=headers, timeout=timeout, verify=VERIFY).content.decode()
endpoints_rectified = sparql_tools.rectify_endpoints(endpoints_native)
print(f"Return value has type {type(endpoints_native)}:")
print(endpoints_native)
print(f"Rectified endpoints have type {type(endpoints_rectified)}:")
print(endpoints_rectified)

Return value has type <class 'str'>:
["http://ontodocker.mpi-susmat.pmd.internal:None/api/jena/newset/sparql","http://ontodocker.mpi-susmat.pmd.internal:None/api/jena/test_dataset/sparql","http://ontodocker.mpi-susmat.pmd.internal:None/api/jena/not4all/sparql","http://ontodocker.mpi-susmat.pmd.internal:None/api/jena/test/sparql"]
Rectified endpoints have type <class 'list'>:
['http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/newset/sparql', 'http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/test_dataset/sparql', 'http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/not4all/sparql', 'http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/test/sparql']

In [19]:
query ="""
SELECT * WHERE { ?s ?p ?o } LIMIT 10
""" 

sparql_endpoint = endpoints_rectified[1]
sparql = SPARQLWrapper(sparql_endpoint)
sparql.setReturnFormat('json')
sparql.addCustomHttpHeader("Authorization", f'Bearer {token}')
sparql.setQuery(query)
result = sparql.queryAndConvert()
print(f'Sending query to "{sparql_endpoint}". Result:')
print(str(result)[:1500]+" ... ") # shortened only for demonstration purposes

Sending query to "http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/test_dataset/sparql". Result:
{'head': {'vars': ['s', 'p', 'o']}, 'results': {'bindings': [{'s': {'type': 'uri', 'value': 'http://example.org/Person'}, 'p': {'type': 'uri', 'value': 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type'}, 'o': {'type': 'uri', 'value': 'http://www.w3.org/2000/01/rdf-schema#Class'}}, {'s': {'type': 'uri', 'value': 'http://example.org/Person'}, 'p': {'type': 'uri', 'value': 'http://www.w3.org/2000/01/rdf-schema#label'}, 'o': {'type': 'literal', 'xml:lang': 'en', 'value': 'Person'}}, {'s': {'type': 'uri', 'value': 'http://example.org/Project'}, 'p': {'type': 'uri', 'value': 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type'}, 'o': {'type': 'uri', 'value': 'http://www.w3.org/2000/01/rdf-schema#Class'}}, {'s': {'type': 'uri', 'value': 'http://example.org/Project'}, 'p': {'type': 'uri', 'value': 'http://www.w3.org/2000/01/rdf-schema#label'}, 'o': {'type': 'literal', 'xml:lang': 'en', 'value': 'Project'}}, {'s': {'type': 'uri', 'value': 'http://example.org/worksOn'}, 'p': {'type': 'uri', 'value': 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type'}, 'o': {'type': 'uri', 'value': 'http://www.w3.org/2000/01/rdf-schema#Property'}}, {'s': {'type': 'uri', 'value': 'http://example.org/worksOn'}, 'p': {'type': 'uri', 'value': 'http://www.w3.org/2000/01/rdf-schema#label'}, 'o': {'type': 'literal', 'xml:lang': 'en', 'value': 'works on'}}, {'s': {'type': 'uri', 'value': 'http://example.org/worksOn'}, 'p': {'type': 'uri', 'value': 'http://www.w3.org/2000/01/rdf-schema#domain'}, 'o': {'type': 'uri', ...

Using `sparql_tools`and `query_collection`:

In [20]:
from pmd_demo_tools import query_collection

query = query_collection.TestQueries().query_graph()

print("query ="+query.query)
print("")
print("query variables = "+str(query.qvars))
print("column headers  = "+str(query.headers))

query =SELECT ?s ?p ?o
            WHERE { ?s ?p ?o }

query variables = ['s', 'p', 'o']
column headers  = ['subject', 'predicate', 'object']

In [21]:
result = sparql_tools.send_query(sparql_endpoint, token, query.query, query.headers)

Sending query to "http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/test_dataset/sparql". Result:
                        subject  \
0     http://example.org/Person
1     http://example.org/Person
2    http://example.org/Project
3    http://example.org/Project
4    http://example.org/worksOn
5    http://example.org/worksOn
6    http://example.org/worksOn
7    http://example.org/worksOn
8      http://example.org/alice
9      http://example.org/alice
10     http://example.org/alice
11  http://example.org/projectX
12  http://example.org/projectX

                                          predicate  \
0   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1        http://www.w3.org/2000/01/rdf-schema#label
2   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
3        http://www.w3.org/2000/01/rdf-schema#label
4   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
5        http://www.w3.org/2000/01/rdf-schema#label
6       http://www.w3.org/2000/01/rdf-schema#domain
7        http://www.w3.org/2000/01/rdf-schema#range
8   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
9        http://www.w3.org/2000/01/rdf-schema#label
10                       http://example.org/worksOn
11  http://www.w3.org/1999/02/22-rdf-syntax-ns#type
12       http://www.w3.org/2000/01/rdf-schema#label

                                           object
0      http://www.w3.org/2000/01/rdf-schema#Class
1                                          Person
2      http://www.w3.org/2000/01/rdf-schema#Class
3                                         Project
4   http://www.w3.org/2000/01/rdf-schema#Property
5                                        works on
6                       http://example.org/Person
7                      http://example.org/Project
8                       http://example.org/Person
9                                           Alice
10                    http://example.org/projectX
11                     http://example.org/Project
12                                      Project X

#### Query all SPARQL endpoints on an instance

In [22]:
for sparql_endpoint in endpoints_rectified:
    result = sparql_tools.send_query(sparql_endpoint, token, query.query, query.headers)

Sending query to "http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/newset/sparql". Result:
                                                subject  \
0     http://purl.org/spar/datacite/FunderIdentifier...
1     http://purl.org/spar/datacite/local-funder-ide...
2                http://purl.org/spar/datacite/Wikidata
3                 https://orcid.org/0000-0002-3717-7104
4                 https://orcid.org/0000-0002-3717-7104
...                                                 ...
2747                                                b79
2748                                                b74
2749                                                b74
2750                                                b78
2751                                                b78

                                             predicate  \
0      http://www.w3.org/2000/01/rdf-schema#subClassOf
1      http://www.w3.org/1999/02/22-rdf-syntax-ns#type
2      http://www.w3.org/1999/02/22-rdf-syntax-ns#type
3           http://www.w3.org/2000/01/rdf-schema#label
4           http://www.w3.org/2000/01/rdf-schema#label
...                                                ...
2747                    http://www.w3.org/ns/csvw#name
2748   http://www.w3.org/1999/02/22-rdf-syntax-ns#rest
2749  http://www.w3.org/1999/02/22-rdf-syntax-ns#first
2750   http://www.w3.org/1999/02/22-rdf-syntax-ns#rest
2751  http://www.w3.org/1999/02/22-rdf-syntax-ns#first

                                                 object
0        http://purl.org/spar/datacite/IdentifierScheme
1     http://purl.org/spar/datacite/FunderIdentifier...
2        http://purl.org/spar/datacite/IdentifierScheme
3                                       Bernd Bayerlein
4                                       Jörg Waitelonis
...                                                 ...
2747                                              Force
2748                                                b49
2749                                                b52
2750     http://www.w3.org/1999/02/22-rdf-syntax-ns#nil
2751                                                b63

[2752 rows x 3 columns]

Sending query to "http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/test_dataset/sparql". Result:
                        subject  \
0     http://example.org/Person
1     http://example.org/Person
2    http://example.org/Project
3    http://example.org/Project
4    http://example.org/worksOn
5    http://example.org/worksOn
6    http://example.org/worksOn
7    http://example.org/worksOn
8      http://example.org/alice
9      http://example.org/alice
10     http://example.org/alice
11  http://example.org/projectX
12  http://example.org/projectX

                                          predicate  \
0   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1        http://www.w3.org/2000/01/rdf-schema#label
2   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
3        http://www.w3.org/2000/01/rdf-schema#label
4   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
5        http://www.w3.org/2000/01/rdf-schema#label
6       http://www.w3.org/2000/01/rdf-schema#domain
7        http://www.w3.org/2000/01/rdf-schema#range
8   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
9        http://www.w3.org/2000/01/rdf-schema#label
10                       http://example.org/worksOn
11  http://www.w3.org/1999/02/22-rdf-syntax-ns#type
12       http://www.w3.org/2000/01/rdf-schema#label

                                           object
0      http://www.w3.org/2000/01/rdf-schema#Class
1                                          Person
2      http://www.w3.org/2000/01/rdf-schema#Class
3                                         Project
4   http://www.w3.org/2000/01/rdf-schema#Property
5                                        works on
6                       http://example.org/Person
7                      http://example.org/Project
8                       http://example.org/Person
9                                           Alice
10                    http://example.org/projectX
11                     http://example.org/Project
12                                      Project X

Sending query to "http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/not4all/sparql". Result:
                                               subject  \
0    https://material-digital.de/entity/7cc6d02d00e...
1    https://material-digital.de/entity/7cc6d02d00e...
2    https://material-digital.de/entity/7cc6d02d00e...
3    https://material-digital.de/entity/7cc6d02d00e...
4    https://material-digital.de/entity/7cc6d02d00e...
..                                                 ...
301                                                 b1
302                                                 b2
303                                                 b2
304                                                 b3
305                                                 b3

                                            predicate  \
0     http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1          http://www.w3.org/2000/01/rdf-schema#label
2         http://www.w3.org/ns/prov#wasAssociatedWith
3         http://www.w3.org/ns/prov#wasAssociatedWith
4              https://w3id.org/pmd/co/characteristic
..                                                ...
301   http://www.w3.org/1999/02/22-rdf-syntax-ns#rest
302  http://www.w3.org/1999/02/22-rdf-syntax-ns#first
303   http://www.w3.org/1999/02/22-rdf-syntax-ns#rest
304  http://www.w3.org/1999/02/22-rdf-syntax-ns#first
305   http://www.w3.org/1999/02/22-rdf-syntax-ns#rest

                                                object
0                  https://w3id.org/pmd/co/TensileTest
1                                    Tensile Test 7cc6
2    https://material-digital.de/entity/3c0c24bd196...
3    https://material-digital.de/entity/65476ad4860...
4    https://material-digital.de/entity/023b37cda0e...
..                                                 ...
301                                                 b2
302  https://material-digital.de/entity/8657b717b0c...
303                                                 b3
304  https://material-digital.de/entity/cd773453354...
305     http://www.w3.org/1999/02/22-rdf-syntax-ns#nil

[306 rows x 3 columns]

Sending query to "http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/test/sparql". Result:
                        subject  \
0     http://example.org/Person
1     http://example.org/Person
2    http://example.org/Project
3    http://example.org/Project
4    http://example.org/worksOn
5    http://example.org/worksOn
6    http://example.org/worksOn
7    http://example.org/worksOn
8      http://example.org/alice
9      http://example.org/alice
10     http://example.org/alice
11  http://example.org/projectX
12  http://example.org/projectX

                                          predicate  \
0   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1        http://www.w3.org/2000/01/rdf-schema#label
2   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
3        http://www.w3.org/2000/01/rdf-schema#label
4   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
5        http://www.w3.org/2000/01/rdf-schema#label
6       http://www.w3.org/2000/01/rdf-schema#domain
7        http://www.w3.org/2000/01/rdf-schema#range
8   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
9        http://www.w3.org/2000/01/rdf-schema#label
10                       http://example.org/worksOn
11  http://www.w3.org/1999/02/22-rdf-syntax-ns#type
12       http://www.w3.org/2000/01/rdf-schema#label

                                           object
0      http://www.w3.org/2000/01/rdf-schema#Class
1                                          Person
2      http://www.w3.org/2000/01/rdf-schema#Class
3                                         Project
4   http://www.w3.org/2000/01/rdf-schema#Property
5                                        works on
6                       http://example.org/Person
7                      http://example.org/Project
8                       http://example.org/Person
9                                           Alice
10                    http://example.org/projectX
11                     http://example.org/Project
12                                      Project X

#### Dataset deletion

In [23]:
endpoint = f'https://{address}/api/v1/jena/{dataset_name}'
result = requests.delete(endpoint, headers=headers, verify=False).content.decode()
result

'"Dataset name test_dataset destroyed"'

### Working with multiple instances

Iterating over all ontodocker instances on the mesh is straight forward by iterating over the respective services. You can just manually (quite simple via the tab-completion) create a list of all

#### Listing all SPARQL endpoints on the mesh

In [24]:
import fnmatch # shell-like pattern matching

In [25]:
patterns = ["*ontodocker*"]
for company_name, company in vars(partners_full).items():
    print(company_name)
    for server_name, server in vars(company).items():
        svcs = getattr(server, "services", None)
        if not isinstance(svcs, mesh_tools.RecursiveNamespace):
            continue  # None or missing (e.g., 500 -> set_none)
        for svc_name, svc in vars(svcs).items():  # svc_name is sanitized
            if any(fnmatch.fnmatchcase(svc_name.casefold(), p.casefold()) for p in patterns):
                address = svc.address
                token = svc.token
                try:
                    headers = {"Authorization": f"Bearer {token}"}
                    timeout=(3, 3)
                    result = requests.get(f'https://{address}/api/v1/endpoints', headers=headers, timeout=timeout, verify=VERIFY).content.decode()
                    print(f'Available SPARQL-endpoints at "{address}":')
                    print(result)
                    print("")
                except Exception as e:
                    print (f"An error occurred for the service with address '{address}':\n")
                    print(str(type(e))+"\n"+str(e)+"\n\n")

KIT
Available SPARQL-endpoints at "ontodocker-proxy.kit-3.pmd.internal":
["http://ontodocker-proxy.kit-3.pmd.internal:None/api/jena/pmdco2_tto_example_perpendicular/sparql","http://ontodocker-proxy.kit-3.pmd.internal:None/api/jena/tt_test/sparql"]

Leibniz_Institut_fuer_Werkstofforientierte_Technologien_IWT
Available SPARQL-endpoints at "ontodocker.iwt.pmd.internal":
["https://ontodocker.iwt.pmd.internal:443/api/jena/pmdco2_tto_example_parallel/sparql"]

BAM
An error occurred for the service with address 'ontodocker-internal.bam-s1.pmd.internal':

<class 'requests.exceptions.ConnectionError'>
HTTPSConnectionPool(host='ontodocker-internal.bam-s1.pmd.internal', port=443): Max retries exceeded with url: /api/v1/endpoints (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7ff8c846ca90>: Failed to establish a new connection: [Errno 113] No route to host'))


Fraunhofer_ISC
MPISusMat
Available SPARQL-endpoints at "ontodocker.mpi-susmat.pmd.internal":
["http://ontodocker.mpi-susmat.pmd.internal:None/api/jena/newset/sparql","http://ontodocker.mpi-susmat.pmd.internal:None/api/jena/not4all/sparql","http://ontodocker.mpi-susmat.pmd.internal:None/api/jena/test/sparql"]

Fraunhofer_IWM
Available SPARQL-endpoints at "ontodocker.iwm.pmd.internal":
["https://ontodocker.iwm.pmd.internal:443/api/jena/test/sparql","https://ontodocker.iwm.pmd.internal:443/api/jena/pmdco2_tto_example_diagonal/sparql"]

Fraunhofer_AISEC
Glassomer_GmbH
Platform_Material_Digital

That's basically the required pattern: Check if the service-section is at all populated, then check if there is some service called "ontodocker" or similar, then fill in the API call in the `try: ... except: ...` block.

Of course, this look clumsy and complicated. There is an abstraction in `mesh_tools`, making the loop easier to read and giving the option to select only certain services based on matching their name against a set of patterns:

In [27]:
for company, server, service_key, service in mesh_tools.iter_servers_with_services_matching(partners_full, ["*ontodocker*"]):
    print(company)
    address = service.address
    token = service.token
    try:
        headers = {"Authorization": f"Bearer {token}"}
        timeout=(3, 3)
        result = requests.get(f'https://{address}/api/v1/endpoints', headers=headers, timeout=timeout, verify=VERIFY).content.decode()
        print(f'Available SPARQL-endpoints at "{address}":')
        print(result)
        print("")
    except Exception as e:
        print (f"An error occurred for the service with address '{address}':\n")
        print(str(type(e))+"\n"+str(e)+"\n\n")

KIT
Available SPARQL-endpoints at "ontodocker-proxy.kit-3.pmd.internal":
["http://ontodocker-proxy.kit-3.pmd.internal:None/api/jena/pmdco2_tto_example_perpendicular/sparql","http://ontodocker-proxy.kit-3.pmd.internal:None/api/jena/tt_test/sparql"]

Leibniz_Institut_fuer_Werkstofforientierte_Technologien_IWT
Available SPARQL-endpoints at "ontodocker.iwt.pmd.internal":
["https://ontodocker.iwt.pmd.internal:443/api/jena/pmdco2_tto_example_parallel/sparql"]

BAM
An error occurred for the service with address 'ontodocker-internal.bam-s1.pmd.internal':

<class 'requests.exceptions.ConnectionError'>
HTTPSConnectionPool(host='ontodocker-internal.bam-s1.pmd.internal', port=443): Max retries exceeded with url: /api/v1/endpoints (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7ff85da0bb10>: Failed to establish a new connection: [Errno 113] No route to host'))


MPISusMat
Available SPARQL-endpoints at "ontodocker.mpi-susmat.pmd.internal":
["http://ontodocker.mpi-susmat.pmd.internal:None/api/jena/newset/sparql","http://ontodocker.mpi-susmat.pmd.internal:None/api/jena/not4all/sparql","http://ontodocker.mpi-susmat.pmd.internal:None/api/jena/test/sparql"]

Fraunhofer_IWM
Available SPARQL-endpoints at "ontodocker.iwm.pmd.internal":
["https://ontodocker.iwm.pmd.internal:443/api/jena/test/sparql","https://ontodocker.iwm.pmd.internal:443/api/jena/pmdco2_tto_example_diagonal/sparql"]

Or even more compact:

In [28]:
endpoints = sparql_tools.list_sparql_endpoints(partners_full)

KIT
Available SPARQL-endpoints at "ontodocker-proxy.kit-3.pmd.internal":
http://ontodocker-proxy.kit-3.pmd.internal/api/v1/jena/pmdco2_tto_example_perpendicular/sparql
http://ontodocker-proxy.kit-3.pmd.internal/api/v1/jena/tt_test/sparql

Leibniz_Institut_fuer_Werkstofforientierte_Technologien_IWT
Available SPARQL-endpoints at "ontodocker.iwt.pmd.internal":
https://ontodocker.iwt.pmd.internal/api/v1/jena/pmdco2_tto_example_parallel/sparql

/home/jovyan/work/pmd-demonstrator/pmd_mesh-demonstrator/pmd_demo_tools/pmd_demo_tools/sparql_tools.py:98: UserWarning: [list_sparql_endpoints] Connection error for https://ontodocker-internal.bam-s1.pmd.internal: HTTPSConnectionPool(host='ontodocker-internal.bam-s1.pmd.internal', port=443): Max retries exceeded with url: /api/v1/endpoints (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7ff85da0b790>: Failed to establish a new connection: [Errno 113] No route to host'))
  warnings.warn(f"[list_sparql_endpoints] Connection error for {base}: {e!s}", category=UserWarning)

MPISusMat
Available SPARQL-endpoints at "ontodocker.mpi-susmat.pmd.internal":
http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/newset/sparql
http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/not4all/sparql
http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/test/sparql

Fraunhofer_IWM
Available SPARQL-endpoints at "ontodocker.iwm.pmd.internal":
https://ontodocker.iwm.pmd.internal/api/v1/jena/test/sparql
https://ontodocker.iwm.pmd.internal/api/v1/jena/pmdco2_tto_example_diagonal/sparql

In [29]:
type(endpoints)

dict

In [30]:
endpoints

{'KIT_kit_3': ['http://ontodocker-proxy.kit-3.pmd.internal/api/v1/jena/pmdco2_tto_example_perpendicular/sparql',
  'http://ontodocker-proxy.kit-3.pmd.internal/api/v1/jena/tt_test/sparql'],
 'Leibniz_Institut_fuer_Werkstofforientierte_Technologien_IWT_iwt': ['https://ontodocker.iwt.pmd.internal/api/v1/jena/pmdco2_tto_example_parallel/sparql'],
 'MPISusMat_mpi_susmat': ['http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/newset/sparql',
  'http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/not4all/sparql',
  'http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/test/sparql'],
 'Fraunhofer_IWM_iwm': ['https://ontodocker.iwm.pmd.internal/api/v1/jena/test/sparql',
  'https://ontodocker.iwm.pmd.internal/api/v1/jena/pmdco2_tto_example_diagonal/sparql']}

#### Creating datasets on all instances

In [31]:
for company, server, service_key, service in mesh_tools.iter_servers_with_services_matching(partners_full, ["*ontodocker*"]):
    print(company)
    address = service.address
    token = service.token
    try:
        headers = {"Authorization": f"Bearer {token}"}
        timeout=(3, 3)
        result = requests.put(f'https://{address}/api/v1/jena/{dataset_name}', headers=headers, timeout=timeout, verify=VERIFY).content.decode()
        print(f'Creating empty dataset "{dataset_name}" at "{address}":')
        print(result)
        print("")
    except Exception as e:
        print (f"An error occurred for the service with address '{address}':\n")
        print(str(type(e))+"\n"+str(e)+"\n\n")

KIT
Creating empty dataset "test_dataset" at "ontodocker-proxy.kit-3.pmd.internal":
"Dataset name test_dataset created"

Leibniz_Institut_fuer_Werkstofforientierte_Technologien_IWT
Creating empty dataset "test_dataset" at "ontodocker.iwt.pmd.internal":
"Dataset name test_dataset created"

BAM
An error occurred for the service with address 'ontodocker-internal.bam-s1.pmd.internal':

<class 'requests.exceptions.ConnectionError'>
HTTPSConnectionPool(host='ontodocker-internal.bam-s1.pmd.internal', port=443): Max retries exceeded with url: /api/v1/jena/test_dataset (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7ff85de31190>: Failed to establish a new connection: [Errno 113] No route to host'))


MPISusMat
Creating empty dataset "test_dataset" at "ontodocker.mpi-susmat.pmd.internal":
"Dataset name test_dataset created"

Fraunhofer_IWM
Creating empty dataset "test_dataset" at "ontodocker.iwm.pmd.internal":
"401 - Unauthorized"

#### Uploading turtle files into the datasets

In [32]:
for company, server, service_key, service in mesh_tools.iter_servers_with_services_matching(partners_full, ["*ontodocker*"]):
    print(company)
    address = service.address
    token = service.token
    try:
        headers = {"Authorization": f"Bearer {token}"}
        timeout=(3, 3)
        result = requests.post(f'https://{address}/api/v1/jena/{dataset_name}', headers=headers, files={'file': open(turtle_file_path, 'rb')}, timeout=timeout, verify=VERIFY).content.decode()
        print(f'Upload "{turtle_file_path}" to dataset "{dataset_name}" at "{address}"')
        print(result)
        print("")
    except Exception as e:
        print (f"An error occurred for the service with address '{address}':\n")
        print(str(type(e))+"\n"+str(e)+"\n\n")

KIT
Upload "../datasets/test_dataset.ttl" to dataset "test_dataset" at "ontodocker-proxy.kit-3.pmd.internal"
"Upload succeeded { \n  \"count\" : 13 ,\n  \"tripleCount\" : 13 ,\n  \"quadCount\" : 0\n}\n"

Leibniz_Institut_fuer_Werkstofforientierte_Technologien_IWT
Upload "../datasets/test_dataset.ttl" to dataset "test_dataset" at "ontodocker.iwt.pmd.internal"
"Upload succeeded { \n  \"count\" : 13 ,\n  \"tripleCount\" : 13 ,\n  \"quadCount\" : 0\n}\n"

BAM
An error occurred for the service with address 'ontodocker-internal.bam-s1.pmd.internal':

<class 'requests.exceptions.ConnectionError'>
HTTPSConnectionPool(host='ontodocker-internal.bam-s1.pmd.internal', port=443): Max retries exceeded with url: /api/v1/jena/test_dataset (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7ff85de87810>: Failed to establish a new connection: [Errno 113] No route to host'))


MPISusMat
Upload "../datasets/test_dataset.ttl" to dataset "test_dataset" at "ontodocker.mpi-susmat.pmd.internal"
"Upload succeeded { \n  \"count\" : 13 ,\n  \"tripleCount\" : 13 ,\n  \"quadCount\" : 0\n}\n"

Fraunhofer_IWM
Upload "../datasets/test_dataset.ttl" to dataset "test_dataset" at "ontodocker.iwm.pmd.internal"
"401 - Unauthorized"

#### Federating SPARQL queries

##### Querying all endpoints

In [33]:
results = sparql_tools.federated_query(partners=partners_full, query=query.query, columns=query.headers)

Sending query to "http://ontodocker-proxy.kit-3.pmd.internal/api/v1/jena/test_dataset/sparql". Result:
                        subject  \
0     http://example.org/Person
1     http://example.org/Person
2    http://example.org/Project
3    http://example.org/Project
4    http://example.org/worksOn
5    http://example.org/worksOn
6    http://example.org/worksOn
7    http://example.org/worksOn
8      http://example.org/alice
9      http://example.org/alice
10     http://example.org/alice
11  http://example.org/projectX
12  http://example.org/projectX

                                          predicate  \
0   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1        http://www.w3.org/2000/01/rdf-schema#label
2   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
3        http://www.w3.org/2000/01/rdf-schema#label
4   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
5        http://www.w3.org/2000/01/rdf-schema#label
6       http://www.w3.org/2000/01/rdf-schema#domain
7        http://www.w3.org/2000/01/rdf-schema#range
8   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
9        http://www.w3.org/2000/01/rdf-schema#label
10                       http://example.org/worksOn
11  http://www.w3.org/1999/02/22-rdf-syntax-ns#type
12       http://www.w3.org/2000/01/rdf-schema#label

                                           object
0      http://www.w3.org/2000/01/rdf-schema#Class
1                                          Person
2      http://www.w3.org/2000/01/rdf-schema#Class
3                                         Project
4   http://www.w3.org/2000/01/rdf-schema#Property
5                                        works on
6                       http://example.org/Person
7                      http://example.org/Project
8                       http://example.org/Person
9                                           Alice
10                    http://example.org/projectX
11                     http://example.org/Project
12                                      Project X

Sending query to "http://ontodocker-proxy.kit-3.pmd.internal/api/v1/jena/pmdco2_tto_example_perpendicular/sparql". Result:
                                                subject  \
0                                                    b0
1                                                    b0
2                                                    b1
3                                                    b1
4                                                    b1
...                                                 ...
1373  https://w3id.org/pmd/ao/tte/testpiece_name/Zy4...
1374  https://w3id.org/pmd/ao/tte/testpiece_name/Zy4...
1375  https://w3id.org/pmd/ao/tte/testpiece_name/Zy4...
1376  https://w3id.org/pmd/ao/tte/testpiece_name/Zy4...
1377  https://w3id.org/pmd/ao/tte/testpiece_name/Zy4...

                                             predicate  \
0     http://www.w3.org/1999/02/22-rdf-syntax-ns#first
1      http://www.w3.org/1999/02/22-rdf-syntax-ns#rest
2      http://www.w3.org/1999/02/22-rdf-syntax-ns#type
3      http://www.w3.org/1999/02/22-rdf-syntax-ns#type
4                http://purl.org/dc/elements/1.1/title
...                                                ...
1373   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1374                     https://w3id.org/pmd/co/value
1375   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1376   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1377                     https://w3id.org/pmd/co/value

                                     object
0                                        b1
1                                        b2
2          http://www.w3.org/ns/csvw#Column
3          https://w3id.org/pmd/co/Duration
4                                      Time
...                                     ...
1373  https://w3id.org/pmd/co/TestPieceName
1374                        Zy4_afterTest_1
1375       https://w3id.org/pmd/co/Metadata
1376  https://w3id.org/pmd/co/TestPieceName
1377                        Zy4_afterTest_2

[1378 rows x 3 columns]

Sending query to "http://ontodocker-proxy.kit-3.pmd.internal/api/v1/jena/tt_test/sparql". Result:
                                               subject  \
0    http://data.kasabi.com/dataset/cheese/schema/C...
1    http://data.kasabi.com/dataset/cheese/schema/C...
2    http://data.kasabi.com/dataset/cheese/schema/C...
3    http://data.kasabi.com/dataset/cheese/schema/C...
4    http://data.kasabi.com/dataset/cheese/schema/C...
..                                                 ...
258  http://data.kasabi.com/dataset/cheese/schema/m...
259  http://data.kasabi.com/dataset/cheese/schema/m...
260  http://data.kasabi.com/dataset/cheese/schema/m...
261  http://data.kasabi.com/dataset/cheese/schema/m...
262  http://data.kasabi.com/dataset/cheese/schema/m...

                                             predicate  \
0      http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1      http://www.w3.org/1999/02/22-rdf-syntax-ns#type
2      http://www.w3.org/1999/02/22-rdf-syntax-ns#type
3           http://www.w3.org/2000/01/rdf-schema#label
4           http://www.w3.org/2000/01/rdf-schema#label
..                                                 ...
258         http://www.w3.org/2000/01/rdf-schema#label
259        http://www.w3.org/2000/01/rdf-schema#domain
260         http://www.w3.org/2000/01/rdf-schema#range
261  http://www.w3.org/2000/01/rdf-schema#subProper...
262  http://www.w3.org/2000/01/rdf-schema#subProper...

                                                object
0           http://www.w3.org/2000/01/rdf-schema#Class
1                   http://open.vocab.org/terms/Cheese
2                 http://dbpedia.org/class/yago/Cheese
3                                            formaggio
4                                               cheese
..                                                 ...
258                                             comune
259                http://www.w3.org/2002/07/owl#Thing
260  http://data.kasabi.com/dataset/cheese/schema/M...
261  http://data.kasabi.com/dataset/cheese/schema/l...
262                 http://dbpedia.org/property/comune

[263 rows x 3 columns]

Sending query to "https://ontodocker.iwt.pmd.internal/api/v1/jena/pmdco2_tto_example_parallel/sparql". Result:
                                                subject  \
0                                                    b0
1                                                    b0
2                                                    b1
3                                                    b1
4                                                    b1
...                                                 ...
1373  https://w3id.org/pmd/ao/tte/testpiece_name/Zx4...
1374  https://w3id.org/pmd/ao/tte/testpiece_name/Zx4...
1375  https://w3id.org/pmd/ao/tte/testpiece_name/Zx4...
1376  https://w3id.org/pmd/ao/tte/testpiece_name/Zx4...
1377  https://w3id.org/pmd/ao/tte/testpiece_name/Zx4...

                                             predicate  \
0     http://www.w3.org/1999/02/22-rdf-syntax-ns#first
1      http://www.w3.org/1999/02/22-rdf-syntax-ns#rest
2      http://www.w3.org/1999/02/22-rdf-syntax-ns#type
3      http://www.w3.org/1999/02/22-rdf-syntax-ns#type
4                http://purl.org/dc/elements/1.1/title
...                                                ...
1373   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1374                     https://w3id.org/pmd/co/value
1375   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1376   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1377                     https://w3id.org/pmd/co/value

                                     object
0                                        b1
1                                        b2
2          http://www.w3.org/ns/csvw#Column
3          https://w3id.org/pmd/co/Duration
4                                      Time
...                                     ...
1373  https://w3id.org/pmd/co/TestPieceName
1374                        Zx4_afterTest_1
1375       https://w3id.org/pmd/co/Metadata
1376  https://w3id.org/pmd/co/TestPieceName
1377                        Zx4_afterTest_2

[1378 rows x 3 columns]

Sending query to "https://ontodocker.iwt.pmd.internal/api/v1/jena/test_dataset/sparql". Result:
                        subject  \
0     http://example.org/Person
1     http://example.org/Person
2    http://example.org/Project
3    http://example.org/Project
4    http://example.org/worksOn
5    http://example.org/worksOn
6    http://example.org/worksOn
7    http://example.org/worksOn
8      http://example.org/alice
9      http://example.org/alice
10     http://example.org/alice
11  http://example.org/projectX
12  http://example.org/projectX

                                          predicate  \
0   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1        http://www.w3.org/2000/01/rdf-schema#label
2   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
3        http://www.w3.org/2000/01/rdf-schema#label
4   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
5        http://www.w3.org/2000/01/rdf-schema#label
6       http://www.w3.org/2000/01/rdf-schema#domain
7        http://www.w3.org/2000/01/rdf-schema#range
8   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
9        http://www.w3.org/2000/01/rdf-schema#label
10                       http://example.org/worksOn
11  http://www.w3.org/1999/02/22-rdf-syntax-ns#type
12       http://www.w3.org/2000/01/rdf-schema#label

                                           object
0      http://www.w3.org/2000/01/rdf-schema#Class
1                                          Person
2      http://www.w3.org/2000/01/rdf-schema#Class
3                                         Project
4   http://www.w3.org/2000/01/rdf-schema#Property
5                                        works on
6                       http://example.org/Person
7                      http://example.org/Project
8                       http://example.org/Person
9                                           Alice
10                    http://example.org/projectX
11                     http://example.org/Project
12                                      Project X

/home/jovyan/work/pmd-demonstrator/pmd_mesh-demonstrator/pmd_demo_tools/pmd_demo_tools/sparql_tools.py:195: UserWarning: [query_instance] Connection error for http://ontodocker-internal.bam-s1.pmd.internal: HTTPConnectionPool(host='ontodocker-internal.bam-s1.pmd.internal', port=80): Max retries exceeded with url: /api/v1/endpoints (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7ff85d999f90>: Failed to establish a new connection: [Errno 113] No route to host'))
  warnings.warn(f"[query_instance] Connection error for {base}: {e!s}", category=UserWarning)

Sending query to "http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/newset/sparql". Result:
                                                subject  \
0     http://purl.org/spar/datacite/FunderIdentifier...
1     http://purl.org/spar/datacite/local-funder-ide...
2                http://purl.org/spar/datacite/Wikidata
3                 https://orcid.org/0000-0002-3717-7104
4                 https://orcid.org/0000-0002-3717-7104
...                                                 ...
2747                                                b79
2748                                                b74
2749                                                b74
2750                                                b78
2751                                                b78

                                             predicate  \
0      http://www.w3.org/2000/01/rdf-schema#subClassOf
1      http://www.w3.org/1999/02/22-rdf-syntax-ns#type
2      http://www.w3.org/1999/02/22-rdf-syntax-ns#type
3           http://www.w3.org/2000/01/rdf-schema#label
4           http://www.w3.org/2000/01/rdf-schema#label
...                                                ...
2747                    http://www.w3.org/ns/csvw#name
2748   http://www.w3.org/1999/02/22-rdf-syntax-ns#rest
2749  http://www.w3.org/1999/02/22-rdf-syntax-ns#first
2750   http://www.w3.org/1999/02/22-rdf-syntax-ns#rest
2751  http://www.w3.org/1999/02/22-rdf-syntax-ns#first

                                                 object
0        http://purl.org/spar/datacite/IdentifierScheme
1     http://purl.org/spar/datacite/FunderIdentifier...
2        http://purl.org/spar/datacite/IdentifierScheme
3                                       Bernd Bayerlein
4                                       Jörg Waitelonis
...                                                 ...
2747                                              Force
2748                                                b49
2749                                                b52
2750     http://www.w3.org/1999/02/22-rdf-syntax-ns#nil
2751                                                b63

[2752 rows x 3 columns]

Sending query to "http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/test_dataset/sparql". Result:
                        subject  \
0     http://example.org/Person
1     http://example.org/Person
2    http://example.org/Project
3    http://example.org/Project
4    http://example.org/worksOn
5    http://example.org/worksOn
6    http://example.org/worksOn
7    http://example.org/worksOn
8      http://example.org/alice
9      http://example.org/alice
10     http://example.org/alice
11  http://example.org/projectX
12  http://example.org/projectX

                                          predicate  \
0   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1        http://www.w3.org/2000/01/rdf-schema#label
2   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
3        http://www.w3.org/2000/01/rdf-schema#label
4   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
5        http://www.w3.org/2000/01/rdf-schema#label
6       http://www.w3.org/2000/01/rdf-schema#domain
7        http://www.w3.org/2000/01/rdf-schema#range
8   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
9        http://www.w3.org/2000/01/rdf-schema#label
10                       http://example.org/worksOn
11  http://www.w3.org/1999/02/22-rdf-syntax-ns#type
12       http://www.w3.org/2000/01/rdf-schema#label

                                           object
0      http://www.w3.org/2000/01/rdf-schema#Class
1                                          Person
2      http://www.w3.org/2000/01/rdf-schema#Class
3                                         Project
4   http://www.w3.org/2000/01/rdf-schema#Property
5                                        works on
6                       http://example.org/Person
7                      http://example.org/Project
8                       http://example.org/Person
9                                           Alice
10                    http://example.org/projectX
11                     http://example.org/Project
12                                      Project X

Sending query to "http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/not4all/sparql". Result:
                                               subject  \
0    https://material-digital.de/entity/7cc6d02d00e...
1    https://material-digital.de/entity/7cc6d02d00e...
2    https://material-digital.de/entity/7cc6d02d00e...
3    https://material-digital.de/entity/7cc6d02d00e...
4    https://material-digital.de/entity/7cc6d02d00e...
..                                                 ...
301                                                 b1
302                                                 b2
303                                                 b2
304                                                 b3
305                                                 b3

                                            predicate  \
0     http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1          http://www.w3.org/2000/01/rdf-schema#label
2         http://www.w3.org/ns/prov#wasAssociatedWith
3         http://www.w3.org/ns/prov#wasAssociatedWith
4              https://w3id.org/pmd/co/characteristic
..                                                ...
301   http://www.w3.org/1999/02/22-rdf-syntax-ns#rest
302  http://www.w3.org/1999/02/22-rdf-syntax-ns#first
303   http://www.w3.org/1999/02/22-rdf-syntax-ns#rest
304  http://www.w3.org/1999/02/22-rdf-syntax-ns#first
305   http://www.w3.org/1999/02/22-rdf-syntax-ns#rest

                                                object
0                  https://w3id.org/pmd/co/TensileTest
1                                    Tensile Test 7cc6
2    https://material-digital.de/entity/3c0c24bd196...
3    https://material-digital.de/entity/65476ad4860...
4    https://material-digital.de/entity/023b37cda0e...
..                                                 ...
301                                                 b2
302  https://material-digital.de/entity/8657b717b0c...
303                                                 b3
304  https://material-digital.de/entity/cd773453354...
305     http://www.w3.org/1999/02/22-rdf-syntax-ns#nil

[306 rows x 3 columns]

Sending query to "http://ontodocker.mpi-susmat.pmd.internal/api/v1/jena/test/sparql". Result:
                        subject  \
0     http://example.org/Person
1     http://example.org/Person
2    http://example.org/Project
3    http://example.org/Project
4    http://example.org/worksOn
5    http://example.org/worksOn
6    http://example.org/worksOn
7    http://example.org/worksOn
8      http://example.org/alice
9      http://example.org/alice
10     http://example.org/alice
11  http://example.org/projectX
12  http://example.org/projectX

                                          predicate  \
0   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
1        http://www.w3.org/2000/01/rdf-schema#label
2   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
3        http://www.w3.org/2000/01/rdf-schema#label
4   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
5        http://www.w3.org/2000/01/rdf-schema#label
6       http://www.w3.org/2000/01/rdf-schema#domain
7        http://www.w3.org/2000/01/rdf-schema#range
8   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
9        http://www.w3.org/2000/01/rdf-schema#label
10                       http://example.org/worksOn
11  http://www.w3.org/1999/02/22-rdf-syntax-ns#type
12       http://www.w3.org/2000/01/rdf-schema#label

                                           object
0      http://www.w3.org/2000/01/rdf-schema#Class
1                                          Person
2      http://www.w3.org/2000/01/rdf-schema#Class
3                                         Project
4   http://www.w3.org/2000/01/rdf-schema#Property
5                                        works on
6                       http://example.org/Person
7                      http://example.org/Project
8                       http://example.org/Person
9                                           Alice
10                    http://example.org/projectX
11                     http://example.org/Project
12                                      Project X

Sending query to "https://ontodocker.iwm.pmd.internal/api/v1/jena/test/sparql". Result:
Empty DataFrame
Columns: [subject, predicate, object]
Index: []

Sending query to "https://ontodocker.iwm.pmd.internal/api/v1/jena/pmdco2_tto_example_diagonal/sparql". Result:
                                               subject  \
0                                                   b0
1                                                   b0
2                                                   b1
3                                                   b1
4                                                   b1
..                                                 ...
915  https://w3id.org/pmd/ao/tte/testpiece_name/Zd3...
916  https://w3id.org/pmd/ao/tte/testpiece_name/Zd3...
917  https://w3id.org/pmd/ao/tte/testpiece_name/Zd3...
918  https://w3id.org/pmd/ao/tte/testpiece_name/Zd3...
919  https://w3id.org/pmd/ao/tte/testpiece_name/Zd3...

                                            predicate  \
0    http://www.w3.org/1999/02/22-rdf-syntax-ns#first
1     http://www.w3.org/1999/02/22-rdf-syntax-ns#rest
2     http://www.w3.org/1999/02/22-rdf-syntax-ns#type
3     http://www.w3.org/1999/02/22-rdf-syntax-ns#type
4               http://purl.org/dc/elements/1.1/title
..                                                ...
915   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
916                     https://w3id.org/pmd/co/value
917   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
918   http://www.w3.org/1999/02/22-rdf-syntax-ns#type
919                     https://w3id.org/pmd/co/value

                                    object
0                                       b1
1                                       b2
2         http://www.w3.org/ns/csvw#Column
3         https://w3id.org/pmd/co/Duration
4                                     Time
..                                     ...
915  https://w3id.org/pmd/co/TestPieceName
916                        Zd3_afterTest_1
917       https://w3id.org/pmd/co/Metadata
918  https://w3id.org/pmd/co/TestPieceName
919                        Zd3_afterTest_2

[920 rows x 3 columns]

Results can be converted to a `RecursiveNamespace` object:

In [34]:
results_rns = mesh_tools.RecursiveNamespace(**results)

In [38]:
results_rns.Fraunhofer_IWM_iwm.ontodocker.test.result

Empty DataFrame
Columns: [subject, predicate, object]
Index: []

##### Filtering Endpoints via patterns
Federated queries can also be narrowed by specifying potential shell-like patterns for the dataset names:

In [40]:
results = sparql_tools.federated_query(partners=partners_full, query=query.query, columns=query.headers, datasets=["*test*"], print_to_screen=False)

In [41]:
results_rns = mesh_tools.RecursiveNamespace(**results)

In [42]:
results_rns.MPISusMat_mpi_susmat.ontodocker.test_dataset.result

,subject,predicate,object
0,http://example.org/Person,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/2000/01/rdf-schema#Class
1,http://example.org/Person,http://www.w3.org/2000/01/rdf-schema#label,Person
2,http://example.org/Project,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/2000/01/rdf-schema#Class
3,http://example.org/Project,http://www.w3.org/2000/01/rdf-schema#label,Project
4,http://example.org/worksOn,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/2000/01/rdf-schema#Property
5,http://example.org/worksOn,http://www.w3.org/2000/01/rdf-schema#label,works on
6,http://example.org/worksOn,http://www.w3.org/2000/01/rdf-schema#domain,http://example.org/Person
7,http://example.org/worksOn,http://www.w3.org/2000/01/rdf-schema#range,http://example.org/Project
8,http://example.org/alice,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://example.org/Person
9,http://example.org/alice,http://www.w3.org/2000/01/rdf-schema#label,Alice
10,http://example.org/alice,http://example.org/worksOn,http://example.org/projectX
11,http://example.org/projectX,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://example.org/Project
12,http://example.org/projectX,http://www.w3.org/2000/01/rdf-schema#label,Project X

Note/ todo: `federated_query` should return a dict with the structure company -> server -> ontodocker-instance -> dataset_name

#### Dataset deletion

In [43]:
for company, server, service_key, service in mesh_tools.iter_servers_with_services_matching(partners_full, ["*ontodocker*"]):
    print(company)
    address = service.address
    token = service.token
    try:
        headers = {"Authorization": f"Bearer {token}"}
        timeout=(3, 3)
        result = requests.delete(f'https://{address}/api/v1/jena/{dataset_name}', headers=headers, timeout=timeout, verify=VERIFY).content.decode()
        print(f'Deleting dataset "{dataset_name}" at "{address}":')
        print(result)
        print("")
    except Exception as e:
        print (f"An error occurred for the service with address '{address}':\n")
        print(str(type(e))+"\n"+str(e)+"\n\n")

KIT
Deleting dataset "test_dataset" at "ontodocker-proxy.kit-3.pmd.internal":
"Dataset name test_dataset destroyed"

Leibniz_Institut_fuer_Werkstofforientierte_Technologien_IWT
Deleting dataset "test_dataset" at "ontodocker.iwt.pmd.internal":
"Dataset name test_dataset destroyed"

BAM
An error occurred for the service with address 'ontodocker-internal.bam-s1.pmd.internal':

<class 'requests.exceptions.ConnectionError'>
HTTPSConnectionPool(host='ontodocker-internal.bam-s1.pmd.internal', port=443): Max retries exceeded with url: /api/v1/jena/test_dataset (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7ff85d29d450>: Failed to establish a new connection: [Errno 113] No route to host'))


MPISusMat
Deleting dataset "test_dataset" at "ontodocker.mpi-susmat.pmd.internal":
"Dataset name test_dataset destroyed"

Fraunhofer_IWM
Deleting dataset "test_dataset" at "ontodocker.iwm.pmd.internal":
"401 - Unauthorized"